@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body{
	margin:0;
	padding:0;
	font-family:Arial;
}



.wrap{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:auto;
	padding: 10px 90px;
	box-sizing:border-box;
	background:rgba(0,0,0,0.5);
}


 .wrap .top_nav{
			display:flex;
			justify-content:space-between;
			align-items:center;
}

 .wrap .top_nav .left{
	display:flex;
    align-items:center;
}
.wrap .top_nav .left .logo p{
	font-size:30px;
	font-weight:bold;
	color:white;
	margin-right:30px;
	font-family:mountains of christmas,cursive;
}

.wrap .top_nav .left .logo p span{
	font-family:mountains of christmas,cursive;
	color:#FFA500;
}

.wrap .top_nav .left .search_bar input[type="text"]{
	border:1px solid white;
	border-radius:10px;
	padding: 10px;
	outline:none;
	width:480px;
	box-sizing:border-box;
	background:rgba(0,0,0,0.3);
	font-size:18px;
	color:#fff;
	outline:none;
	padding-right:40px;
	
}
	

-webkit-input-placeholder{
	color:#fff;
}

-moz-placeholder{
	color:#fff;
}

-ms-input-placeholder{
	color:#fff;
}



  .fa-shopping-cart{
	 margin:6px;
}
  .fa-user{
	 margin:6px;
}

.fa-search{
	position:absolute;
transform-translate:Y(50%);
top:53px;
right:541px;
color:white;
font-size:18px;
}
	  

 ul{
	list-style:none;
	float:right;
	margin:0;
	padding:0;
	display:flex;
}
 ul li a{
	line-height:30px;
	color:#fff;
	padding:12px 30px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:15px;

}
ul li a:hover{
	background:rgba(0,0,0,0.7);
	border-radius:6px;
}
 ul li a.active{
	background:#FFA500;
	color:#fff;
	border-radius:6px;
}
section{
	width:100%;
	height:101vh;
	background:url("man.jpg");
	background-size:cover;
	background-position:center;
}

.sub-menu-1
{
		display:none;
}

 ul li:hover .sub-menu-1
{
	display:block;
	position:absolute;
	background:rgba(0,0,0,0.5);
	margin-top:7px;
	margin-left:10px;
	width:auto;
	height:auto;
}

ul li:hover .sub-menu-1 ul
{
	display:block;
	margin:10px;
}

ul li:hover .sub-menu-1 ul li
{
	width:auto;
	padding:5px;
	border-bottom:1px white;
	background:transparent;
	border-radius:0;
	text-align:left;
	
}
ul li:hover .sub-menu-1 ul li a{
	text-transform:capitalize;
}

 ul li:hover .sub-menu-1 ul li :last-child
{
	border-bottom:none;
}

 ul li:hover .sub-menu-1 ul li a:hover
{ 
	color:#FFA500;
	
}

.fashion1 h1{
      
		font-family:mountains of christmas,cursive;
}
.fashion1 {
	padding-left:40px;
	
}




#footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;

}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color:white;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
   color:white;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
   color:white;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
   color:white;
}
.left .content p{
  text-align: justify;
   color:white;
}
.left .content .social{
  margin: 20px 0 0 0;
}
                            
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color:white;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
  color:white
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}